body{
	width: 70%;
	height: 100%;
	padding-left: 250px;
	background: wheat;
	/*text-align: center;*/
}



h2, div{
	font-family: georgia;
	font-size: 15px;
	/*margin-left: 40px;*/
}

p{
	margin: 40px;
}

.container{
	width: 100%;
	background: ivory;
}



.heading{
background: url(http://wwp.greenwichmeantime.com/time-zone/usa/maryland/images/state-flag-maryland-480.jpg);
width: 100%;
height: 100px;
color: white;
margin-top: -21px;
display: table;
}

.heading h1{
	display: table-cell;
	vertical-align: middle;
}

/* ---------------   link bar --------------------------*/

.links{
	width: 100%;
	height: 40px;
	padding-top: 15px;
	background: lightblue;
	text-align: center;
	/*display: inline-block;*/

}
.links a{
	text-decoration: none;
	margin-left:75px;
	color: white;
	display: inline-block;
}	

.links a:hover{
	background: skyblue;

}
/* ---------------------------------*/
.navigation{
	height: 37px;
	background: skyblue;
}

.button {
	padding: 10px 40px;
	display: inline-block;
	color: #fff;
	background-color: skyblue;
	text-decoration: none;
	border-radius: 5px;
	border: 0;
	text-align: center;
	margin-left: 10px;
}
.button:hover {
	background: url(http://wwp.greenwichmeantime.com/time-zone/usa/maryland/images/state-flag-maryland-480.jpg);
}








.large{
	text-align: center;
}



.image, .small img{
padding: 20px;
/*margin-right: 25px;*/
/*padding-left: 25px;*/
}



/*responsive content*/


@media screen and (min-width: 100px){
/*apply these rulesets only if the 
above media query is satisfied*/
.links a{
	display: inline-block;
}

}





